﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1192px;
  height:1201px;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:30px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:30px;
  display:flex;
  text-align:left;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1192px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:129px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:1192px;
  height:129px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:239px;
  width:1192px;
  height:80px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:319px;
  width:1192px;
  height:80px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:399px;
  width:1192px;
  height:80px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:479px;
  width:1192px;
  height:80px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:559px;
  width:1192px;
  height:80px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:639px;
  width:1192px;
  height:80px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:719px;
  width:1192px;
  height:80px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:799px;
  width:1192px;
  height:80px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:879px;
  width:1192px;
  height:80px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:959px;
  width:1192px;
  height:80px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1039px;
  width:1192px;
  height:80px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:80px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1119px;
  width:1192px;
  height:80px;
  display:flex;
  text-align:left;
  line-height:24px;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 6px 2px 6px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:5px;
  background:inherit;
  background-color:rgba(163, 0, 20, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1216px;
  width:300px;
  height:5px;
  display:flex;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
