﻿
#u13422 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13423_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:34px;
}
#u13423 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:213px;
  width:18px;
  height:24px;
  display:flex;
}
#u13423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 9.2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13424_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:34px;
}
#u13424 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:249px;
  width:18px;
  height:24px;
  display:flex;
}
#u13424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 9.2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13425_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:34px;
}
#u13425 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:250px;
  width:18px;
  height:24px;
  display:flex;
}
#u13425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 9.2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
