﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:851px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:841px;
  height:2279px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:34px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:34px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:95px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:841px;
  height:95px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:55px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:841px;
  height:55px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:75px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:184px;
  width:841px;
  height:75px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:155px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:259px;
  width:841px;
  height:155px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:115px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:414px;
  width:841px;
  height:115px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:155px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:529px;
  width:841px;
  height:155px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:95px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:684px;
  width:841px;
  height:95px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:55px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:779px;
  width:841px;
  height:55px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:55px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:834px;
  width:841px;
  height:55px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u17 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:55px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:889px;
  width:841px;
  height:55px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:180px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:944px;
  width:841px;
  height:180px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:135px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1124px;
  width:841px;
  height:135px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:115px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1259px;
  width:841px;
  height:115px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:160px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1374px;
  width:841px;
  height:160px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u29 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u29_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:240px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1534px;
  width:841px;
  height:240px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:340px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1774px;
  width:841px;
  height:340px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u33 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:55px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2114px;
  width:841px;
  height:55px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:55px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2169px;
  width:841px;
  height:55px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:55px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2224px;
  width:841px;
  height:55px;
  display:flex;
  text-align:left;
  line-height:20px;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2292px;
  width:300px;
  height:6px;
  display:flex;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
